/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap Icons SCSS file. */
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';

.box {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

 .box-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
    &.colour {
      margin: 5px;
      padding: 2px;
      border: 1px solid #ccc;
      &:hover {
        background-color: black;
      }
    }

    &.tag {
      border: 1px solid #ccc;
      border-radius: 60px;
      padding: 0.5em;
      margin-inline: 0.5em;
    }
 }

 .box-value {
  &.colour {
    padding-inline: 2em;
    }
 }

 .btn-circle.btn-xl {
  border-radius: 60px;
  font-size: 8px;
  text-align: center;
  margin-left: 0.8em;
}
}